<!DOCTYPE HTML>

	<head>
		<title>Vida Inclusiva</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
	</head>
<body>
<div id="wrapper" class="fade-in">
		<a href="/" class="image logo"><img src="assets/images/Fono_logo.png" alt="" /></a>
		<br>
		<nav id="nav">
			<ul class="links">
				<li class="active"><a href="/">Inicio</a></li>
				<li><a href="/fono">Fonoaudiología</a></li>
				<li><a href="/servicios">Servicios</a></li>
				<li><a href="/convenios">Convenios</a></li>
				<li><a href="/contactenos">Contáctenos</a></li>
				<li><a href="/contact">Reserva tu Hora</a></li>
			</ul>
			<ul class="icons">
				<li><a href=" https://www.facebook.com/espaciovidainclusiva/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/Vida.Inclusiva/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			</ul>
		</nav>
		<!--<img src="images/fonoaudiologia.jpg" alt="" />-->
		
	<div id="main">
			<div id ="cloneMain"></div>
			<article class="post featured">
				<header class="major">
					<!--<span class="date"></span>-->
					<h2><a>Quienes Somos</a></h2> 
					<p>Vida Inclusiva es un espacio dedicado a la atención fonoaudiológica integral de
						niños, jóvenes, adultos, adultos mayores y sus familias, en procesos tanto normales
						como patológicos de la comunicación y la deglución humana, considerando el
						contexto de cada persona y su diversidad, entregándoles atención de calidad y un
						alto sentido ético.
					</p>
					
				</header>
				
				<!--<ul class="actions special">
					<li><a href="#" class="button large">Full Story</a></li>
				</ul>--> 
			</article>
			<hr style="padding: 0;">
			<div class ="avatarImages"> 
				<article>
					<img src="assets/images/camila.jpg" alt="">
					<div class="text">
					  <h3>Camila Salgado</h3>
					  <a href="https://www.linkedin.com/in/camila-salgado-ram%C3%ADrez-a54206183/" class="icon brands fa-linkedin fa-lg" ></a>
					 </div>
				 </article>
				 <article>
					<img src="assets/images/pia.JPG" alt="">
					<div class="text">
					  <h3>Pía González</h3>
					  <a href="https://www.linkedin.com/in/pía-gonzález-salamanca-911a94191" class="icon brands fa-linkedin fa-lg"></a>
					 </div>
				 </article>	
				 <article>
					<img src="assets/images/antonella.png" alt="">
					<div class="text">
					  <h3>Antonella Durán</h3>
					  <a href="https://www.linkedin.com/in/flga-antonella-duran" class="icon brands fa-linkedin fa-lg"></a>
					 </div>
				 </article>	
			</div>
			
			<!--<section class="posts">
				<article>
					<header>
						<span class="date">April 24, 2017</span>
						<h2><a href="#">Sed magna<br />
						ipsum faucibus</a></h2>
					</header>
					<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 22, 2017</span>
						<h2><a href="#">Primis eget<br />
						imperdiet lorem</a></h2>
					</header>
					<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 18, 2017</span>
						<h2><a href="#">Ante mattis<br />
						interdum dolor</a></h2>
					</header>
					<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 14, 2017</span>
						<h2><a href="#">Tempus sed<br />
						nulla imperdiet</a></h2>
					</header>
					<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 11, 2017</span>
						<h2><a href="#">Odio magna<br />
						sed consectetur</a></h2>
					</header>
					<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">April 7, 2017</span>
						<h2><a href="#">Augue lorem<br />
						primis vestibulum</a></h2>
					</header>
					<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
					<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
					<ul class="actions special">
						<li><a href="#" class="button">Full Story</a></li>
					</ul>
				</article>
				
			</section>-->
	</div>

	<!-- Footer -->
	<footer id="footer">
		<section >
			<form method="POST" action="/send2">
					<p> * Tienes dudas ? Llámanos al <b>+56944365545</b> considerando nuestro horario de
							atención o envíanos tus consultas en el recuadro siguiente y nos comunicaremos
							contigo a la brevedad.
					</p><br>
				<div class="fields">
						
					<div class="field">
						<label for="name">Nombre</label>
						<input type="text" name="nombre" id="name" />
					</div>
					<div class="field">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" />
					</div>
					<div class="field">
						<label for="message">Mensaje</label>
						<textarea name="mensaje" id="mensaje" rows="3"></textarea>
					</div>
				</div>
				<ul class="actions">
					<li><button type="submit" onclick="alert('Enviado')" >Enviar mensaje</button></li>
				</ul>
			</form>
		</section>													
		<section id="contacto" class="split contact">
			<section class="google-maps">
				<div id="textoMap">
				<h3>Direccion</h3>
				<p> Seminario #9, oficina 102,  Providencia, Santiago. A pasos de metro baquedano.</p>
				
			</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.461595421411!2d-70.63546198484501!3d-33.437278580777644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c584b2a622d5%3A0x1bf948d5e58a1d61!2sBaquedano!5e0!3m2!1ses-419!2scl!4v1566005610290!5m2!1ses-419!2scl" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
				
			</section>
			<section>
				<h3>Horario</h3>
				<p>Lunes a Viernes de 9 a 14 hrs y de 15 a 18 hrs</p>
			</section>
			<section>
				<h3>Email</h3>
				<p><a href="#">espaciovidainclusiva@gmail.com</a></p>
			</section>
			<!--<section>
				<h3>Social</h3>
				<ul class="icons alt">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				</ul>
			</section> -->
		</section>
	</footer>
</div>
		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="./server.js"></script>

	</body>
</html>